body {
    font-family: sans-serif;
    padding: 2em;
}

h1, h3 {
    margin-bottom: 1em;
}

h3 {
    margin-top: 1em;
}

ul {
    line-height: 1.8em;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}